<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleLogger" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%t] [%c{1}] %msg%n</pattern>
            </PatternLayout>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <RollingFile name="FileLogger" fileName="${basePath}/app.log" filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%t] [%c{1}] %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="256M"/>
            </Policies>
            <Delete basePath="${basePath}" maxDepth="10">
                <IfLastModified age="30d"/>
            </Delete>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="net.dv8tion.jda" level="info" additivity="false">
            <AppenderRef ref="ConsoleLogger"/>
        </Logger>

        <!-- BotCommands -->
        <Logger name="io.github.freya022.botcommands" level="debug" additivity="false">
            <AppenderRef ref="ConsoleLogger"/>
        </Logger>

        <!-- HikariCP -->
        <Logger name="com.zaxxer.hikari" level="info" additivity="false">
            <AppenderRef ref="ConsoleLogger"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="ConsoleLogger"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>
