<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="basePath" value="logs"/>

    <appender name="ConsoleLogger" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%thread] [%logger{1}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FileLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${basePath}/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${basePath}/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>256MB</totalSizeCap>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>256MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%thread] [%logger{1}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SentryAppender" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="ConsoleLogger" />
        <appender-ref ref="FileLogger" />
        <appender-ref ref="SentryAppender" />
    </root>

</configuration>
