name: Java CI

on:
  pull_request:
    branches:
      - '*'
    paths:
      - '**.java'
      - 'pom.xml'
      - 'core/pom.xml'
      - 'generator/pom.xml'
      - 'discord/pom.xml'
      - 'tooling/pom.xml'
  push:
    branches:
      - '*'
    paths:
      - '**.java'
      - 'pom.xml'
      - 'core/pom.xml'
      - 'generator/pom.xml'
      - 'discord/pom.xml'
      - 'tooling/pom.xml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Build with Maven
        run: mvn -pl discord -am org.ec4j.maven:editorconfig-maven-plugin:check clean package
