name: Generate Example Config JSON File

on:
  push:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.2.2
        with:
          ref: ${{ github.head_ref }}
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Build with Maven
        run: mvn clean package

      - name: Commit and push if changes detected
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Automated config update
          file_pattern: '*.json'
