name: Generate Example Config JSON File

on:
  push:
    branches:
      - 'master'
    paths:
      - '**.java'
      - 'pom.xml'
      - 'core/pom.xml'
      - 'discord/pom.xml'
      - 'bot/pom.xml'
      - 'generator/pom.xml'
      - 'tooling/pom.xml'
  pull_request:
    paths:
      - '**.java'
      - 'pom.xml'
      - 'core/pom.xml'
      - 'discord/pom.xml'
      - 'bot/pom.xml'
      - 'generator/pom.xml'
      - 'tooling/pom.xml'

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.0
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          ref: ${{ github.head_ref || github.ref_name }}
          fetch-depth: 0
          persist-credentials: true
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Build Dependencies
        run: mvn -pl tooling -am -DskipTests install

      - name: Generate Example Config
        run: mvn -f tooling/pom.xml -am -Pgenerate-config -DskipTests exec:java@generate-config

      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Automated Config Update
          file_pattern: '*.json'
          branch: ${{ github.head_ref || github.ref_name }}
