name: Java CI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2.0.0

    - name: Set up JDK 17
      uses: actions/setup-java@v3.9.0
      with:
        java-version: '17'
        distribution: 'adopt'
        
    - name: Run EditorConfig
      run: zbeekman/EditorConfig-Action

    - name: Build with Maven
      run: mvn clean package
