name: Java CI

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2.0.0

    - name: Set up JDK 17
      uses: actions/setup-java@v3.9.0
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Build with Maven
      run: mvn editorconfig:check clean package
