# Usage:
# - Runs automated tests to ensure the Java project builds correctly.
# - If the build is successful, it packages the application into a Docker container.
# - The container is pushed to GHCR and deployed to the vps.

# Requirements:
# - Config file on the vps. (should be named `{Environment}.config.json`)
#   - Example: `production.config.json`
#   - Environment default: production
# - These secrets must be set up in the repository settings:
#   - SSH_PRIVATE_KEY: Private SSH key for accessing the vps
#   - SSH_USER: The SSH username for the vps
#   - SSH_HOST: The SSH host (IP or domain) of the vps
#   - WORK_DIR: The directory on the vps where the app is/will be deployed
#   - BOT_TOKEN_{environment}: Discord bot token per environment
#     - Example: BOT_TOKEN_PRODUCTION, BOT_TOKEN_DEV
#   - MONGO_URI: Environment variable for the bot
#   - HYPIXEL_KEY: Environment variable for the bot
#   - SENTRY_DSN: Sentry DSN for error reporting (optional, Sentry disabled if empty)
#   - CONFIG_FOLDER_PATH: Path to the config file folder on the vps

name: Publish

on:
  workflow_dispatch:
    inputs:
      botEnvironmentType:
        description: 'Bot environment type (All uppercase):'
        required: true
        default: 'PRODUCTION'
        type: string
      port:
        description: 'Port:'
        required: true
        default: '1234' # Default port is 1234 but should probably be changed to 9090 (convention)
        type: string
      useOldImage: # Useful in case of crashes
        description: 'Use old Docker image:'
        required: true
        default: false
        type: boolean
      dockerNetwork:
        description: 'Docker network to join (for database connectivity, etc. - e.g. nerdbot_default):'
        required: false
        default: ''
        type: string

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/nerd-bot-${{ github.event.inputs.botEnvironmentType || 'PRODUCTION' }}-${{ github.ref_name }}:latest
  CONTAINER_NAME: nerd-bot-${{ github.event.inputs.botEnvironmentType || 'PRODUCTION' }}-${{ github.ref_name }}
  ENVIRONMENT_NAME: ${{ github.event.inputs.botEnvironmentType || 'PRODUCTION' }}
  PORT: ${{ github.event.inputs.port || '1234' }} # Default port is 1234 but should probably be changed to 9090 (convention)
  USE_OLD_IMAGE: ${{ github.event.inputs.useOldImage || 'false' }}
  DOCKER_NETWORK: ${{ github.event.inputs.dockerNetwork || '' }}

jobs:
  publish:
    name: Publish image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        if: ${{ env.USE_OLD_IMAGE == 'false' }}
        uses: actions/checkout@v6.0.2

      - name: Login to GHCR
        if: ${{ env.USE_OLD_IMAGE == 'false' }}
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ${{ env.REGISTRY }} -u ${{ github.actor }} --password-stdin

      - name: Build and push Docker image
        if: ${{ env.USE_OLD_IMAGE == 'false' }}
        run: |
          docker build . --tag ${{ env.REGISTRY }}/$(echo "${{ env.IMAGE_NAME }}" | tr '[:upper:]' '[:lower:]') \
            --build-arg BRANCH_NAME=${{ github.ref_name }} 
          docker push ${{ env.REGISTRY }}/$(echo "${{ env.IMAGE_NAME }}" | tr '[:upper:]' '[:lower:]')

  deploy:
    needs: publish
    name: Deploy image
    runs-on: ubuntu-latest

    steps:
      - name: Install SSH keys
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SSH_HOST }} > ~/.ssh/known_hosts

      - name: Deploy
        run: |
          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
          cd ${{ secrets.WORK_DIR }}
          echo "${{ secrets.GITHUB_TOKEN }}" | sudo docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin
          sudo docker pull ${{ env.REGISTRY }}/$(echo "${{ env.IMAGE_NAME }}" | tr '[:upper:]' '[:lower:]')
          sudo docker stop $(echo "${{ env.CONTAINER_NAME }}" | tr '[:upper:]' '[:lower:]') || true
          sudo docker rm $(echo "${{ env.CONTAINER_NAME }}" | tr '[:upper:]' '[:lower:]') || true
          sudo docker rmi $(sudo docker images $(echo "${{ env.REGISTRY }}/${{ github.actor }}/${{ env.CONTAINER_NAME }}" | tr '[:upper:]' '[:lower:]') -q) -f || true
          sudo docker run -d --name $(echo "${{ env.CONTAINER_NAME }}" | tr '[:upper:]' '[:lower:]') -p ${{ env.PORT }}:${{ env.PORT }} \
            ${{ env.DOCKER_NETWORK != '' && format('--network {0}', env.DOCKER_NETWORK) || '' }} \
            -v ${{ secrets.CONFIG_FOLDER_PATH }}/$(echo "${{ env.ENVIRONMENT_NAME }}" | tr '[:upper:]' '[:lower:]').config.json:/app/$(echo "${{ env.ENVIRONMENT_NAME }}" | tr '[:upper:]' '[:lower:]').config.json \
            -e "JAVA_OPTS=-Dbot.token=${{ secrets[format('BOT_TOKEN_{0}', env.ENVIRONMENT_NAME)] }} \
            -Ddb.mongodb.uri=${{ secrets.MONGO_URI }} \
            -Dbot.environment=${{ env.ENVIRONMENT_NAME }} \
            -Dbot.config=/app/$(echo "${{ env.ENVIRONMENT_NAME }}" | tr '[:upper:]' '[:lower:]').config.json \
            -Dhypixel.key=${{ secrets.HYPIXEL_KEY }}" \
            -e "SENTRY_DSN=${{ secrets.SENTRY_DSN }}" \
            ${{ env.REGISTRY }}/$(echo "${{ env.IMAGE_NAME }}" | tr '[:upper:]' '[:lower:]')
          EOF

      - name: Cleanup SSH keys
        run: rm -rf ~/.ssh